body{
    margin: 0;
    background-color: white;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#822425;
}
header h1{
    font-size: 3.5em;
    color: white;
    margin: 0;
}
.logoHeader{
    width: 70px;
}
footer{
    height: 100px;
    background-color: #822425;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoutFooter{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
}
.logoutFooter:hover{
    border-radius: 5px;
    background-color: white;
    color: #822425;
}

/*                LOGIN USUARIO              */

.inicioSesionTitulo{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: #822425;
    border-radius: 10px;
    position: absolute;
    margin-top: -150px;
    width: 326px;
    box-shadow: #822425 0px 0px 15px;
}
.tableLogin{
    width: 250px;
    display: flex;
}
.tableLogin tr{
    width: 250px;
}
.tableLogin td{
    width: 50px;
}
#formLogin{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    border: 1px solid #822425;
    box-shadow: #822425 0px 0px 15px;
}
#formLogin [type=email], [type=password], [type=text], [type=date]{
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 30px;
    margin-left: 40px;
    outline: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.iconosLogin{
    position: absolute;
    width: 30px;
    margin-top: 4px;
}
#formLogin label{
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: -10px;
    font-weight: bold;
}
#formLogin button[type=submit]{
    border: none;
    color: white;
    background-color: black;
    width: 250px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#formLogin button[type=submit]:hover{
    background-color: transparent;
    color: black;
}
#formLogin a{
    color: black;
    text-align: center;
    width: 250px;
    display: block;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
}
#formLogin a:hover{
    color: #822425;
}
.checkboxLogin{
    text-align: left;
}
.formRegister{
    text-align: right;
    padding-right: 5%;
}
#status{
    color: black;
    text-align: center;
    width: 100%;
}

/*      FICHAR       */
#fichar{
    background-color: #822425;
    color: white;
    font-size: 1.3em;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border:  1px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}

#fichar:hover{
    background-color: white;
    color: #822425;
    border:  1px solid #822425;
}
#fichar:disabled{
    background-color: grey;
    color: white;
    border:  1px solid transparent;
    cursor: default;
}
#latitud, #longitud{display: none;}
.JefeGeneralHome{
    width: 100%;
    display: flex;
    padding-top: 30px;
    background-color: white;
}
.ausencias{
    width: 32.5%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ausencias h2{
    padding-bottom: 10px;
    width: 80%;
    border-bottom: 1px solid black;
}
.ausencias td{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#motivo{
    width: 50%;
}
.generalHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 35%;
}
.divFichar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sinPermisoUbi{
    color: red;
    border-radius: 5px;
}
#reload{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#reload:hover{
    color: #822425;
}

.divFichajes{
    width: 480px;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.fichaje{
    height: 20px;
    background-color: rgb(33, 134, 0);
}
.pausa{
    height: 20px;
    background-color: orange;
}
.ultimo{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.noTrabajo{
    height: 20px;
    background-color: rgb(217, 217, 217);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#hora{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    margin-left: 14px;
}
#horaFinal{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    margin-left: 14px;
}
.noTrabajoFinal{
    height: 20px;
    background-color: rgb(217, 217, 217);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.jefeLeyenda{
    width: 32.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leyenda{
    border: 2px solid #822425;
    padding: 30px;
    box-shadow: #822425 0px 0px 15px inset, #822425 0px 0px 15px;
}
.colorTrab{
    height: 20px;
    width: 20px;
    background-color: rgb(33, 134, 0);
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
}
.colorDes{
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
}
.colorNoTrab{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
    background-color: rgb(217, 217, 217);
}
#tablaFichajes{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
#tablaFichajes table{
    border-collapse: collapse;
}
#tablaFichajes td{
    padding-left: 30px;
    padding-right: 30px;
}
#tablaFichajes td{
    height: 30px;
}
.informativoFichajes{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.accion{
    text-align: center;
}
.basura_fich{
    width: 20px;
}
.guardar_fich{
    width: 24px;
}
.eliminarFichaje{
    background-color: white;
    border: none;
    width: 20px;
    cursor: pointer;
}
.guardarFichajes{
    background-color: white;
    border: none;
    cursor: pointer;
}
.horaFichaje{
    border: 1px solid transparent;
    padding-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    transition: all 0.3s;
}
.horaFichaje:hover{
    border: 1px solid #822425;
}
#status{
    background-color: rgb(0, 151, 0);
    color: white;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 65%;
    margin-bottom: 30px;
    border-radius: 5px;
}
#fechaFichajes{
    width: 130px;
    margin-left: 70%;
    background: #822425;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    margin-top: -6.1%;
}
.generalTablaFichajes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*          RRHH            */

.menuRH{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: left;
    width: 95%;
}
.opcionMenuRH{
    border-right: 1px solid white;
    border-left: 1px solid white;
    width: 15%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}
.opcionMenuRH a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.opcionMenuRH a:hover{
    color: #822425;
}
.opcionMenuRH:hover{
    background-color: white;
}

/*          RRHH        Usuarios */

.generalUsuariosLista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    background-color: white;
}
.nombreListaUsuario{
    width: 400px;
    text-align: left;
    padding-left: 15px;
    border: #822425 1px solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.nombreListaUsuario:hover{
    color: #822425;
}
.UsuarioLista{
    display: flex;
    width: 500px;
    margin: 10px;
}
#formEditarUsuario{
    display: flex;
    justify-content: center;
}
#formEditarUsuario input{
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 200px;
    height: 30px;
}
#formEditarUsuario td:nth-of-type(1n+2){
    display: flex;
    justify-content: right;
}
.close{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
}
.close:hover{
    color: #822425;
}
input[type="date"]:focus{
    background-color: transparent;
}
.nombreListaUsuario span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.nombreListaUsuario span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.nombreListaUsuario:hover span {
    padding-right: 25px;
}

.nombreListaUsuario:hover span:after {
    opacity: 1;
    right: 0;
}

.generalUsuariosLista h1{
    margin-top: 30px;
    margin-bottom: 60px;
}

/*      USUARIO (RRHH)       */

.generalUsuario{
    width: 100%;
    min-height: 500px;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.generalUsuario h2{
    margin-bottom: 40px;
}
.buscadorUsuarios{
    display: flex;
    width: 19.5%;
    margin-right: 70%;
    margin-top: 9.5%;
    position: absolute;
}
.buscadorUsuarios input{width: 100%;}

#map{
    height: 400px;
    width: 700px;
    border: 1px solid black;
    margin-bottom: 50px;
}
.infoUsuario{
    width: 100%;
    display: flex;
    margin-top: 25px;
}
.mapa{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtroFechaInfoUsuario{
    width: 10%;
}
#fechaFichajesInfoUsuario{
    width: 100%;
    background: #822425;
    border-radius: 10px;
    color: white;
    margin: 0;
    text-align: center;
}
.fichajesInfoUsuario{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}