body{
    margin: 0;
    background-color: white;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 3.5em;
    color: black;
    margin: 0;
}
.logoHeader{
    width: 70px;
    margin-right: 10px;
}

/*                LOGIN USUARIO              */

.inicioSesionTitulo{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 2em;
    color: white;
    font-weight: bold;
    background-color: #0074EC;
    border-radius: 10px;
    position: absolute;
    margin-top: -150px;
    width: 326px;
    box-shadow: #0074EC 0px 0px 15px;
}
.tableLogin{
    width: 250px;
    display: flex;
}
.tableLogin tr{
    width: 250px;
}
.tableLogin td{
    width: 50px;
}
#formLogin{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    border: 1px solid #0074EC;
    box-shadow: #0074EC 0px 0px 15px;
}
#formLogin [type=email], [type=password], [type=text], [type=date]{
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 30px;
    outline: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.iconosLogin{
    position: absolute;
    width: 30px;
    margin-top: 4px;
}
#formLogin label{
    margin-top: 20px;
    font-size: 1em;
    margin-bottom: -10px;
    font-weight: bold;
    color: black;
}
#formLogin button[type=submit]{
    border: none;
    color: white;
    background-color: #0074EC;
    width: 250px;
    font-size: 1.5em;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#formLogin button[type=submit]:hover{
    background-color: white;
    color: black;
}
#formLogin a{
    color: black;
    text-align: center;
    width: 250px;
    display: block;
    font-size: 0.9em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
}
#formLogin a:hover{
    color: #0074EC;
}
.checkboxLogin{
    text-align: left;
}
.formRegister{
    text-align: right;
    padding-right: 5%;
}
#status{
    color: black;
    text-align: center;
    width: 100%;
}

/*      FICHAR       */
#fichar{
    background-color: white;
    color: black;
    font-size: 1.3em;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.5em;
    border-radius: 5px;
    border:  1px solid #0074EC;
    cursor: pointer;
    transition: all 0.3s;
}

#fichar:hover{
    background-color: #0074EC;
    color: white;
    border:  1px solid #0074EC;
}
#fichar:disabled{
    background-color: grey;
    color: white;
    border:  1px solid transparent;
    cursor: default;
}
#latitud, #longitud{display: none;}
.JefeGeneralHome{
    width: 100%;
    display: flex;
    padding-top: 30px;
    background-color: white;
    margin-bottom: 50px;
}
.ausencias{
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #0074EC;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
}
.ausencias h2{
    padding-bottom: 10px;
    width: 80%;
    border-bottom: 2px solid #0074EC;
}
.ausencias td{
    width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
}
#motivo{
    width: 75%;
    margin-left: 15px;
}
#motivo2{
    width: 133%;
    margin-left: -33%;
}
.generalHome{
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    align-items: center;
    margin-bottom: 20px;
    width: 35%;
}
.divFichar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sinPermisoUbi{
    color: red;
    border-radius: 5px;
}
#reload{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#reload:hover{
    color: #0074EC;
}

.divFichajes{
    width: 480px;
    height: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
}
.fichaje{
    height: 20px;
    background-color: rgb(33, 134, 0);
}
.pausa{
    height: 20px;
    background-color: orange;
}
.ultimo{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.noTrabajo{
    height: 20px;
    background-color: rgb(217, 217, 217);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#hora{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    margin-left: 14px;
}
#horaFinal{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    margin-left: 14px;
    color: grey;
}
.marginTopHora{
    margin-top: -20px;
    color: rgb(33, 134, 0);
}

.marginbottomHora{
    margin-top: 20px;
    color: orange;
}

.noTrabajoFinal{
    height: 20px;
    background-color: rgb(217, 217, 217);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.jefeLeyenda{
    width: 32.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#leyenda{
    border: 2px solid #0074EC;
    padding: 30px;
    box-shadow: #0074EC 0px 0px 15px inset, #0074EC 0px 0px 15px;
    margin-top: -70%;
}
.colorTrab{
    height: 20px;
    width: 20px;
    background-color: rgb(33, 134, 0);
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
}
.colorDes{
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
}
.colorNoTrab{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    margin-right: 5px;
    background-color: rgb(217, 217, 217);
}
#tablaFichajes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
#tablaFichajes td{
    height: 30px;
}
.tabelFich th{
    background-color: #0074EC;
    color: white;
}
.tabelFich tr:nth-child(odd) td:nth-child(even) {
    background-color: #ffc4c4;
}
#tablaFichajes table{
    border-collapse: collapse;
}
#tablaFichajes td{
    padding-left: 30px;
    padding-right: 30px;
}
#tablaFichajes td{
    height: 30px;
}
.informativoFichajes{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.accion{
    text-align: center;
}
.basura_fich{
    width: 20px;
}
.guardar_fich{
    width: 24px;
}
.eliminarFichaje{
    background-color: white;
    border: none;
    width: 20px;
    cursor: pointer;
}
.guardarFichajes{
    background-color: white;
    border: none;
    cursor: pointer;
}
.horaFichaje{
    border: 1px solid transparent;
    padding-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    transition: all 0.3s;
}
.horaFichaje:hover{
    border: 1px solid #0074EC;
}
#status{
    background-color: rgb(0, 151, 0);
    color: white;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 65%;
    margin-bottom: 30px;
    border-radius: 5px;
}
#fechaFichajes{
    width: 130px;
    margin-left: 100%;
    background: #0074EC;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
    margin-top: -6.1%;
}
.generalTablaFichajes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*          RRHH            */

.menuRH{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 13%;
    margin-right: 70%;
}
.opcionMenuRH{
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: all 0.5s;
}
.opcionMenuRH a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.opcionMenuRH a:hover{
    color: #0074EC;
}
.opcionMenuRH:hover{
    background-color: white;
}

/*          RRHH        Usuarios */

.generalUsuariosLista{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    background-color: white;
}
.nombreListaUsuario{
    width: 400px;
    text-align: left;
    padding-left: 15px;
    border: #0074EC 1px solid;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.nombreListaUsuario:hover{
    color: #0074EC;
}
.UsuarioLista{
    display: flex;
    width: 33%;
    margin: 10px;
}
#formEditarUsuario{
    display: flex;
    justify-content: center;
}
#formEditarUsuario input{
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    text-align: center;
    width: 200px;
    height: 30px;
}
#formEditarUsuario td:nth-of-type(1n+2){
    display: flex;
    justify-content: right;
}
.close{
    background-color: transparent;
    border: none;
    font-size: 1.3em;
}
.close:hover{
    color: #0074EC;
}
input[type="date"]:focus{
    background-color: transparent;
}
.nombreListaUsuario span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.nombreListaUsuario span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.nombreListaUsuario:hover span {
    padding-right: 25px;
}

.nombreListaUsuario:hover span:after {
    opacity: 1;
    right: 0;
}

.generalUsuariosLista h1{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 40%;
    text-align: center;
    border-bottom: 2px solid #0074EC;
    padding-bottom: 20px;
}

/*      USUARIO (RRHH)       */

.generalUsuario{
    width: 100%;
    min-height: 500px;
    padding-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.generalUsuario h2{
    margin-bottom: 40px;
}
.buscadorUsuarios{
    display: flex;
    width: 19.5%;
    margin-right: 70%;
    margin-top: 9.5%;
    position: absolute;
}
.buscadorUsuarios input{width: 100%;}

#map{
    height: 400px;
    width: 80%;
    border: 1px solid black;
    margin-bottom: 50px;
}
.infoUsuario{
    width: 100%;
    display: flex;
    margin-top: 25px;
}
.mapa{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtroFechaInfoUsuario{
    width: 10%;
}
#fechaFichajesInfoUsuario{
    width: 100%;
    background: #0074EC;
    border-radius: 10px;
    color: white;
    margin: 0;
    text-align: center;
}
.fichajesInfoUsuario{
    width: 45%;
    padding-top: 50px;
    padding-left: 50px;
}
.tablaInfoFichajesUsuario{
    width: 73%;
    font-size: 1.2em;
    border-collapse: collapse;
    border: 1px solid antiquewhite;
}
.tablaInfoFichajesUsuario th{
    background-color: #0074EC;
    color: white;
}
.tablaInfoFichajesUsuario td{
    height: 30px;
}
.tablaInfoFichajesUsuario tr:nth-child(odd) {
    background-color: #9afeff;
}
input{
    outline: none;
}
/* PAGINACION */

.d-flex{
    margin-top: 20px;
}
.h-5{
    height: 20px;
    width: 20px;
}
.esconder{
    display: none;
}
.desplegableAdministr{
    background-color: #0074EC;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}
.administrON{
    background-color: white;
    color: #0074EC;
    border: none;
    
}
.administrSubON{
    background-color: #0074EC;
    color: white;
    border: none;
}
.textarea{
    border:1px solid black;
    height: 160px;
    width:280px;
    margin-left:20px;
}
#tablaAusencias{
    width: 120%;
    height: auto;
    margin-top: 50px;
    margin-left: -30%;
    border-collapse: collapse;
}
#tablaAusencias td{
    padding: 5px;
    text-align: left;
    border: 1px solid #9afeff;
    min-width: 150px;
}

.bodyLogin{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 1%, #a8d3ff 60%, rgb(255, 255, 255) 80%);
}

.apartadoHome{
    width: 100%;
    height: 500px;
}


/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding-bottom: 50px;
    background-size: cover;
}

.container__footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.box__footer .logo img{
    /* width: 180px; */
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
    margin-top: 10px;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
    color: #0074EC;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
.nombreKfooter{
    font-size: 2.5em;
    margin-left: 10%;
}
.icoRS{
    width: 20px;
    margin-right: 5px;
}
.inS{
    width: 150%;
    height: 100%;
    box-shadow:  #0074EC 0px 15px 15px;
}
.formLoginLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    border: none;
    box-shadow: none;
}
.apartado1Home{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.apartado1Home div{
    height: 100%;
    display: flex;
    justify-content: center;
    width: 50%;
}
.apartado1Home img{
    width: 54%;
}
.apartado1Hometexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apartado1Hometexto div{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 15px;
}
.apartado1Hometexto div:hover{transform: scale(1.1)}
.apartado2Hometexto div:hover{transform: scale(1.1)}
.apartado2Hometexto div{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 15px;
}
.apartado2Hometexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apartado2Home{
    width: 100%;
    margin-top: 70px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
}
.apartado2Home img{
    width: 40%;
}
.texto2{
    display: flex;
    justify-content: center;
    width: 50%;
}
.divlogoutFooter{
    position: absolute;
    display: flex;
    justify-content: end;
    padding-right: 40px;
    margin-left: 90%;
}
.logoutFooter{
    color: #0074EC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    border-radius: 10px;
}
.logoutFooter:hover{
    color: white;
    background-color: #0074EC;
}
.titleHeader{
    position: absolute;
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.foot2{
    margin-top: 100px;
    border:1px solid #a7d2ff;
    background: rgb(0,116,236);
    background: linear-gradient(0deg, rgba(0,116,236,0.329551889115021) 0%, rgba(255,255,255,1) 21%); 
}